.form-wrapper {
    margin: 15px;
}

.edit-form {
    margin: 20px;

    .edit-form-field {
        width: 100%;
    }

    .radio-group {
        display: flex;
        flex-direction: column;
        padding-left: 15px;

        .mat-radio-button  {
            margin-top: 10px;
        }
    }

    .my-invalid {
        color: #f44336;
    }

}
